<% include ../top %>
<% include event-scripts %>

<h1>Events</h1>
<p>If you have any suggestion do not hesitate to contact us at <a target="_blank" href="http://twitter.com/winnipegjs">@winnipegjs</a> or by email <a href="mailto:mail@peterbraun.ca">mail@peterbraun.ca</a>.</p>

<ul class="events-list">
	<% var event = {}; for(var slug in events) { event = events[slug]; %>
	<li>
		<h2><a href="/events/<%= slug %>"><%= event.title %></a></h2>
		<time datetime="<%= event.date %>"><%=: event.date | formatDate %> @ <%= event.location %></time>
		<a href="/events/<%= slug %>">
			<img alt="<%= event.thumbAltText %>" src="<%= event.thumbnail %>">
		</a>

		<% for(var j = 0; j < event['synopsis'].length; j++) { %>
		<p>
			<%= event['synopsis'][j] %>
		</p>
		<% } %>
	</li>
	<% } %>
</ul>

<% include ../bottom %>
