<% include ../top %>
<% include event-scripts %>

<h1>Events</h1>
<p>If you have any suggestion do not hesitate to contact us at <a target="_blank" href="http://twitter.com/winnipegjs">@winnipegjs</a> or by email <a href="mailto:mail@peterbraun.ca">mail@peterbraun.ca</a>.</p>

<ul class="events-list">
	<% for(var slug in events) { var event = events[slug]; %>
	<li <% if (event.isUpcoming) { %>class="announcement"<% } %>>
		<h2>
			<a href="/events/<%= event.slug %>"><%= event.title %></a>
			<% if ( event.isUpcoming && event.hasOwnProperty('rsvpLink')) { %>
            <a class="button" href="<%= event.rsvpLink %>">RSVP</a>
			<% } %>
		</h2>
		<time datetime="<%= event.date %>"><%=: event.date | formatDate %> @ <%= event.location.name %></time>
		<a href="/events/<%= event.slug %>">
			<img alt="<%= event.thumbAltText %>" src="<%= event.thumbnail %>">
		</a>

		<% event.synopsis.forEach(function(paragraph) { %>
			<p><%- paragraph %></p>
		<% }); %>
	</li>
	<% } %>
</ul>

<% include ../bottom %>
