doctype 5
html
  head
    title= title
    // Used so mobile browsers scale by default correctly
    - if (to_desktop === '')
      meta(name="viewport", content="width=device-width")
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    - if (to_desktop === '')
      link(rel='stylesheet', href='/stylesheets/mobile-style.css', media="only screen and (max-device-width: 720px)")
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='shortcut icon', href='/images/favicon.ico')
    script(src='/javascripts/modernizr.custom.js')
    
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34522135-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    header
      div#logo 
        a(href="/") (Winnipeg.js);
      ul#nav
        li 
          a(href="/#{to_desktop}", class= page === 'index' ? 'active' : '') Home
        li
          a(href="/events#{to_desktop}", class= page === 'events' ? 'active' : '') Events
        li 
          a(href="/resources#{to_desktop}", class= page === 'resources' ? 'active' : '') Resources
        li 
          a(href="/members#{to_desktop}", class= page === 'members' ? 'active' : '') Members
    div#main(class=page)
      block content
    footer
      div
        div
          a(href="http://www.linkedin.com/groups/Winnipegjs-4520628?home=&gid=4520628&trk=anet_ug_hm&goback=%2Egmp_4520628")
            img(src="/images/linkedin-icon.png", alt="Join us on Linkedin", title="Join us on Linkedin")
          span Join our <a href="http://www.linkedin.com/groups/Winnipegjs-4520628?home=&gid=4520628&trk=anet_ug_hm&goback=%2Egmp_4520628">Group</a> on Linkedin
        div
          a(href="http://twitter.com/winnipegjs")
            img(src="/images/twitter-icon.png", alt="Follow us on Twitter", title="Follow us on Twitter")
          span Follow @<a href="http://twitter.com/winnipegjs">WinnipegJS</a> on Twitter
        div
          a(href="http://github.com/yagudaev/winnipegjs")
            img(src="/images/github-icon.png", alt="Contribute on Github", title="contribute on Github")
          span Contribute on <a href="http://github.com/yagudaev/winnipegjs">Github</a>
      div#copyrights
        div .
          Winnipeg.js website developed by
          <a href="http://www.yagudaev.com">Michael Yagudaev</a>
        div .
          Designed by
          <a href="http://www.vadimbrodsky.com">Vadim Brodsky</a>
      
      // Reloads page with to_desktop get modifier so a mobile can view desktop pages from now on. If the mobile wants
      // to start viewing mobile pages again the ?to_desktop is just erased
      .to_desktop_link
        - page = (page === 'index') ? '' : page;
        a(href="#{page}?to_desktop") Desktop Version