<% var media_selector = "only screen and (max-device-width: 720px)"; %>

<!DOCTYPE html>
<html>
<head>
	<title><%= title %>
	<% if ('Winnipeg.js' !== title ) { %>| Winnipeg.js<% } %>
	</title>

	<!-- Viewport is used so mobile browsers scale by default correctly, set using Modernizer below -->
	<% if (!toDesktop) { %>
	<meta name="viewport" id="viewport" content="" />
	<!-- IE does not support media queries so the modernizer viewport attribute update will fail, so (can do IEMobile 7  and etc.): -->
	<!--[if IEMobile]>
	<meta name="viewport" id="viewport" content="device-width" />
	<![endif]-->
	<% } %>

	<link rel="stylesheet" href="/stylesheets/style.css" />
	<% if (!toDesktop) { %>
	<link rel="stylesheet" href="/stylesheets/mobile-style.css" media="<%=media_selector%>" />
	<!--[if IEMobile]>
	<link rel="stylesheet" href="/stylesheets/mobile-style.css" />
	<link rel="stylesheet" href="/stylesheets/mobile-style-ie.css" />
	<![endif]-->
	<% } %>

	<!-- For mobile version link when in IE on Windows Phone in the desktop interface -->
	<!--[if IEMobile]>
	<link rel="stylesheet" href="/stylesheets/transfer-link-visible.css" />
	<![endif]-->

	<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/normalize.css" />
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<script src="/javascripts/modernizr.custom.js"></script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-34522135-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

		// viewport is only used for phones of appropriate widths, don't want to set viewport on iPads as they
		// are given the desktop interface.
		var viewport = document.getElementById("viewport");
		if (Modernizr.mq("<%=media_selector%>")) {
			if (viewport)
				viewport.setAttribute("content", "width=device-width");
		}

		// The Android 2.2 default browser can report incorrect device-widths, so I must give it mobile assets.
		if (navigator.userAgent.replace(/ /g, "").search('Android2.2') > 0){
			if("<%=toDesktop%>" === "false"){
				viewport.setAttribute("content", "width=device-width");
				document.write('<link rel="stylesheet" href="/stylesheets/mobile-style.css">');
			}
			document.write('<link rel="stylesheet" href="/stylesheets/transfer-link-visible.css">');
		}
	</script>
</head>
<body>
    <div id="body_container">
        <header>
            <div id="logo">
                <a href="/">(Winnipeg.js);</a>
            </div>
            <ul id="nav">
                <li><a href="/" class=<%= page === 'index' ? 'active' : ''%>>Home</a></li>
                <li><a href="/events" class=<%= page === 'events' ? 'active' : ''%>>Events</a></li>
                <li><a href="/forum" class=<%= page === 'forum' ? 'active' : ''%>>Forum</a></li>
                <li><a href="/resources" class=<%= page === 'resources' ? 'active' : ''%>>Resources</a></li>
            </ul>
        </header>
        <div id="main" class="<%=page%>">
	
